{% extends 'PrismPollBundle:Backend:layout.html.twig' %}

{% block content %}
    <h1>{{ 'backend.poll.h1_edit'|trans({}, 'poll') }}</h1>

    {% if app.session.flashbag.has('success') %}
        <div class="alert alert-success">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
    {% endif %}

    {{ form(form, { 'style': 'horizontal', 'action': path('PrismPollBundle_backend_poll_edit', {'pollId': poll.id }), 'method': 'POST', attr: {novalidate: 'novalidate'} }) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('PrismPollBundle_backend_poll_list') }}" id="back">{{ 'backend.poll.back_to_list'|trans({}, 'poll') }}</a>
        </li>
    </ul>

{% endblock %}