{% macro listPlayers(players) %}
    {% if players|length > 0 %}
        {% for p in players %}
            <table class="table-player">
                <tr>
                    <td class="img">
                        <img src="{{ image(p.webPath).resize(230) }}"
                             alt="{{ p.firstname ~ ' ' ~ p.secondname ~ ' ' ~ p.patronymic }}"/>
                    </td>
                    <td>
                        <table class="table-player">
                            <tr>
                                <th>{{ 'backend.player.firstname'|trans({}, 'menu') }}</th>
                                <td>{{ p.firstname }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.secondname'|trans({}, 'menu') }}</th>
                                <td>{{ p.secondname }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.patronymic'|trans({}, 'menu') }}</th>
                                <td>{{ p.patronymic }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.birthday'|trans({}, 'menu') }}</th>
                                <td>{{ p.birthday|date('d.m.Y') }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.birth_place'|trans({}, 'menu') }}</th>
                                <td>{{ p.birthPlace }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.nationality'|trans({}, 'menu') }}</th>
                                <td>{{ p.nationality }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.amplua'|trans({}, 'menu') }}</th>
                                <td>{{ p.amplua }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.height'|trans({}, 'menu') }}</th>
                                <td>{{ p.height }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.weight'|trans({}, 'menu') }}</th>
                                <td>{{ p.weight }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.firstCoach'|trans({}, 'menu') }}</th>
                                <td>{{ p.firstCoach }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.progress'|trans({}, 'menu') }}</th>
                                <td>{{ p.progress }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.title'|trans({}, 'menu') }}</th>
                                <td>{{ p.title }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.previous_teams'|trans({}, 'menu') }}</th>
                                <td>{{ p.previousTeams }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.favorite_place'|trans({}, 'menu') }}</th>
                                <td>{{ p.favoritePlace }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.favorite_dish'|trans({}, 'menu') }}</th>
                                <td>{{ p.favoriteDish }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.favorite_music'|trans({}, 'menu') }}</th>
                                <td>{{ p.favoriteMusic }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.favorite_book'|trans({}, 'menu') }}</th>
                                <td>{{ p.favoriteBook }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.any_sport'|trans({}, 'menu') }}</th>
                                <td>{{ p.anySport }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.hobby'|trans({}, 'menu') }}</th>
                                <td>{{ p.hobby }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'backend.player.favorite_phrase'|trans({}, 'menu') }}</th>
                                <td>{{ p.favoritePhrase }}</td>
                            </tr>
                            <tr>
                                <th class="last">{{ 'backend.player.status'|trans({}, 'menu') }}</th>
                                <td>{{ p.getStatusText()|trans({}, 'menu') }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endmacro %}