{% macro listPlayers(players) %}
    {% if players|length > 0 %}
        <table class="table-players">
            <thead>
                <th>Игрок</th>
                <th>{{ 'backend.player.amplua'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.player.nationality'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.player.birthday'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.player.height'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.player.weight'|trans({}, 'menu') }}</th>
            </thead>
            <tbody>
                {% for p in players %}
                    <tr>
                        <td class="first">
                            <a href="{{ path('frontend_player_index', {slug: p.slug}) }}">
                                <span><img src="{{ image(p.webPath).zoomCrop(120, 120).jpeg(100) }}" alt="{{ image(p.webPath).zoomCrop(120, 120) }}" width="50px" height="50px" /></span>
                                {{ p.fullName }}
                            </a>
                        </td>
                        <td>
                            {{ p.amplua.name }}
                        </td>
                        <td>
                            {{ p.nationality }}
                        </td>
                        <td>
                            {{ p.birthday|date('d.m.Y') }}
                        </td>
                        <td>
                            {{ p.height }}
                        </td>
                        <td>
                            {{ p.weight }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro one(player) %}
    <table class="table-player">
        <tr>
            <td class="img">
                <img src="{{ image(player.webPath).cropResize(230) }}"
                     alt="{{ player.fullName }}"/>
            </td>
            <td>
                <table class="table-player">
                    <tr>
                        <th>{{ 'backend.player.firstname'|trans({}, 'menu') }}</th>
                        <td>{{ player.firstname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.secondname'|trans({}, 'menu') }}</th>
                        <td>{{ player.secondname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.patronymic'|trans({}, 'menu') }}</th>
                        <td>{{ player.patronymic }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.birthday'|trans({}, 'menu') }}</th>
                        <td>{{ player.birthday|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.birth_place'|trans({}, 'menu') }}</th>
                        <td>{{ player.birthPlace }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.nationality'|trans({}, 'menu') }}</th>
                        <td>{{ player.nationality }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.amplua'|trans({}, 'menu') }}</th>
                        <td>{{ player.amplua.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.height'|trans({}, 'menu') }}</th>
                        <td>{{ player.height }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.weight'|trans({}, 'menu') }}</th>
                        <td>{{ player.weight }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.firstCoach'|trans({}, 'menu') }}</th>
                        <td>{{ player.firstCoach }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.progress'|trans({}, 'menu') }}</th>
                        <td>{{ player.progress }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.title'|trans({}, 'menu') }}</th>
                        <td>{{ player.title }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.previous_teams'|trans({}, 'menu') }}</th>
                        <td>{{ player.previousTeams }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.favorite_place'|trans({}, 'menu') }}</th>
                        <td>{{ player.favoritePlace }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.favorite_dish'|trans({}, 'menu') }}</th>
                        <td>{{ player.favoriteDish }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.favorite_music'|trans({}, 'menu') }}</th>
                        <td>{{ player.favoriteMusic }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.favorite_book'|trans({}, 'menu') }}</th>
                        <td>{{ player.favoriteBook }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.any_sport'|trans({}, 'menu') }}</th>
                        <td>{{ player.anySport }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.hobby'|trans({}, 'menu') }}</th>
                        <td>{{ player.hobby }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'backend.player.favorite_phrase'|trans({}, 'menu') }}</th>
                        <td>{{ player.favoritePhrase }}</td>
                    </tr>
                    <tr>
                        <th class="last">{{ 'backend.player.status'|trans({}, 'menu') }}</th>
                        <td>{{ player.getStatusText()|trans({}, 'menu') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endmacro %}