{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listTab %}
{% from 'SiteMainBundle:Frontend/News:macros.html.twig' import listLast %}
{% from 'SiteMainBundle:Frontend/Event:macros.html.twig' import calendarCircle %}

{% block title %}{{ page.metaTitle }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}
{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/prismpoll/css/frontend.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/css/slick.css') }}"/>
{% endblock %}

{% block content %}
    <div class="slide">
        <div id="container">
            <div id="mySlides">
                {% for s in sliders %}
                    <div id="slide{{ loop.index }}" class="slide-block">
                        <img src="{{ s.img ? image(s.webPath).zoomCrop(1200, 480) : 'http://placehold.it/1200x480' }}" alt="Slide 1 jFlow Plus" />
                        <span>
                            <p>
                                {{ s.text|nl2br }}
                            </p>
                        </span>
                    </div>
                {% endfor %}
            </div>

            <span class="jFlowPrev"><div></div></span>
            <span class="jFlowNext"><div></div></span>
            <div class="the-end-main-main">
                <div class="the-end-main">
                    {% if firstFutureEvent[0].id is defined %}
                        <div class="the-end">
                            <div class="the-end-title">предстоящий матч {% if firstFutureEvent[0].name == 1 %}(К){% endif %}{% if firstFutureEvent[0].name == 3 %}(Д){% endif %}</div>
                            <div class="the-end-date">{{ firstFutureEvent[0].datetime|localizeddate('long', 'none', null, null, 'd MMMM Y') }} {% if firstFutureEvent[0].datetime|date('H') != '00' or firstFutureEvent[0].datetime|date('i') != '00' %}в {{ firstFutureEvent[0].datetime|date('H:i') }}{% endif %}</div>
                            <div class="the-end-last-block">
                                {% if firstFutureEvent[0].eventTeam[0].team.id is defined %}
                                    <div class="the-end-last-block-1">
                                        <img src="{{ image(firstFutureEvent[0].eventTeam[0].team.webPath).resize(53, 61).png(100) }}" alt="{{ firstFutureEvent[0].eventTeam[0].team.name }}" width="53px" height="61px">
                                        <div class="the-end-last-block-title">{{ firstFutureEvent[0].eventTeam[0].team.name }}</div>
                                    </div>
                                {% endif %}
                                <div class="the-end-last-block-2">
                                    {{ firstFutureEvent[0].score }}
                                </div>
                                {% if firstFutureEvent[0].eventTeam[1].team.id is defined %}
                                    <div class="the-end-last-block-3">
                                        <img src="{{ image(firstFutureEvent[0].eventTeam[1].team.webPath).resize(53, 61).png(100) }}" alt="{{ firstFutureEvent[0].eventTeam[1].team.name }}" width="53px" height="61px">
                                        <div class="the-end-last-block-title">{{ firstFutureEvent[0].eventTeam[1].team.name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if lastPastEvent[0].id is defined %}
                        <div class="the-end">
                            <a href="{{ path('frontend_event_game_index', {type: lastPastEvent[0].slug, id: lastPastEvent[0].id}) }}"></a>
                            <div class="the-end-title">прошедший матч {% if lastPastEvent[0].name == 1 %}(К){% endif %}{% if lastPastEvent[0].name == 3 %}(Д){% endif %}</div>
                            <div class="the-end-date">{{ lastPastEvent[0].datetime|localizeddate('long', 'none', null, null, 'd MMMM Y') }} {% if lastPastEvent[0].datetime|date('H') != '00' or lastPastEvent[0].datetime|date('i') != '00' %}в {{ lastPastEvent[0].datetime|date('H:i') }}{% endif %}</div>
                            <div class="the-end-last-block">
                                {% if lastPastEvent[0].eventTeam[0].team.id is defined %}
                                    <div class="the-end-last-block-1">
                                        <img src="{{ image(lastPastEvent[0].eventTeam[0].team.webPath).resize(53, 61).png(100) }}" alt="{{ lastPastEvent[0].eventTeam[0].team.name }}" width="53px" height="61px">
                                        <div class="the-end-last-block-title">{{ lastPastEvent[0].eventTeam[0].team.name }}</div>
                                    </div>
                                {% endif %}
                                <div class="the-end-last-block-2">
                                    {{ lastPastEvent[0].score }}
                                </div>
                                {% if lastPastEvent[0].eventTeam[1].team.id is defined %}
                                    <div class="the-end-last-block-3">
                                        <img src="{{ image(lastPastEvent[0].eventTeam[1].team.webPath).resize(53, 61).png(100) }}" alt="{{ lastPastEvent[0].eventTeam[1].team.name }}" width="53px" height="61px">
                                        <div class="the-end-last-block-title">{{ lastPastEvent[0].eventTeam[1].team.name }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="myController" class="date">
                <div class="date-block">
                    <ul>
                        {% for s in sliders %}
                            <li class="jFlowControl">
                                <div class="year">{{ s.date|date('Y') }}</div>
                                {% if loop.last == false %}
                                    <span>/</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap_content_main">
    <div class="content">
        <div class="content-left-block">
            {{ listLast(newsSlider) }}
            <div id="tabs" class="main-tab">
                <ul>
                    <li><a href="#tabs-1">события</a></li>
                    <li><a href="#tabs-2">интервью</a></li>
                    <li><a href="#tabs-3">мнения</a></li>
                </ul>
                {% for n in news %}
                    <div id="tabs-{{ loop.index }}">
                        {{ listTab(n) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    <div class="content-right-block">
        <div class="right-block">
            {{ calendarCircle(calendarEvent) }}
        </div>
        <div class="right-block kybki">
            <div class="right-block-title">награды и кубки</div>
            <div class="kybki">
                {% for c in cuboc %}<div class="kubok">
                    <img src="{{ asset(c.webPath) }}" alt="{{ asset(c.webPath) }}">
                    <div class="kubok_wrap_window">
                        <div class="window">
                            <div class="wrap_text">
                                <div class="text">
                                    {{ c.text|nl2br }}
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>{% endfor %}
            </div>
        </div>
        {#<div class="right-block">#}
            {#<div id="tabs2" class="main-tab main-tab2">#}
                {#<ul>#}
                    {#<li><a href="#tabs3">чемпионат европы</a></li>#}
                {#</ul>#}
                {#<div id="tabs3">#}
                    {#<div class="chempionat">#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">М</div>#}
                            {#<div class="chempionat-td chempionat-td-2">Команда</div>#}
                            {#<div class="chempionat-td chempionat-td-3">И</div>#}
                            {#<div class="chempionat-td chempionat-td-4">О</div>#}
                        {#</div>#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">1</div>#}
                            {#<div class="chempionat-td chempionat-td-2">ЦСКА</div>#}
                            {#<div class="chempionat-td chempionat-td-3">17</div>#}
                            {#<div class="chempionat-td chempionat-td-4">41</div>#}
                        {#</div>#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">1</div>#}
                            {#<div class="chempionat-td chempionat-td-2">ЦСКА</div>#}
                            {#<div class="chempionat-td chempionat-td-3">17</div>#}
                            {#<div class="chempionat-td chempionat-td-4">41</div>#}
                        {#</div>#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">1</div>#}
                            {#<div class="chempionat-td chempionat-td-2">ЦСКА</div>#}
                            {#<div class="chempionat-td chempionat-td-3">17</div>#}
                            {#<div class="chempionat-td chempionat-td-4">41</div>#}
                        {#</div>#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">1</div>#}
                            {#<div class="chempionat-td chempionat-td-2">ЦСКА</div>#}
                            {#<div class="chempionat-td chempionat-td-3">17</div>#}
                            {#<div class="chempionat-td chempionat-td-4">41</div>#}
                        {#</div>#}
                        {#<div class="chempionat-tr">#}
                            {#<div class="chempionat-td chempionat-td-1">1</div>#}
                            {#<div class="chempionat-td chempionat-td-2">ЦСКА</div>#}
                            {#<div class="chempionat-td chempionat-td-3">17</div>#}
                            {#<div class="chempionat-td chempionat-td-4">41</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <div class="right-block">
            <div id="tabs3" class="main-tab main-tab2">
                <ul>
                    <li><a href="#tabs2">основной состав</a></li>
                    <li><a href="#tabs3">дублирующий состав</a></li>
                </ul>
                <div id="tabs2">
                    <div class="chempionat">
                        {% if teamsChiemp|length > 0 %}
                            <div class="chempionat-tr">
                                <div class="chempionat-td chempionat-td-1">М</div>
                                <div class="chempionat-td chempionat-td-2">Команда</div>
                                <div class="chempionat-td chempionat-td-3">И</div>
                                <div class="chempionat-td chempionat-td-4">О</div>
                            </div>
                            {% for team in teamsChiemp %}
                                <div class="chempionat-tr">
                                    <div class="chempionat-td chempionat-td-1">{{ loop.index }}</div>
                                    <div class="chempionat-td chempionat-td-2">{{ team.name }}</div>
                                    <div class="chempionat-td chempionat-td-3">{{ team.games|default(0) }}</div>
                                    <div class="chempionat-td chempionat-td-4">{{ team.points|default(0) }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <a href="{{ path('frontend_event_sub_index', {type: 'chiempionat', subtype: 'turnirnaia-tablitsa'}) }}" class="full-view">{{ 'frontend.event.full_view'|trans({}, 'menu') }}</a>
                    </div>
                </div>
                <div id="tabs3">
                    <div class="chempionat">
                        {% if teamsMolodioz|length > 0 %}
                            <div class="chempionat-tr">
                                <div class="chempionat-td chempionat-td-1">М</div>
                                <div class="chempionat-td chempionat-td-2">Команда</div>
                                <div class="chempionat-td chempionat-td-3">И</div>
                                <div class="chempionat-td chempionat-td-4">О</div>
                            </div>
                            {% for team in teamsMolodioz %}
                                <div class="chempionat-tr">
                                    <div class="chempionat-td chempionat-td-1">{{ loop.index }}</div>
                                    <div class="chempionat-td chempionat-td-2">{{ team.name }}</div>
                                    <div class="chempionat-td chempionat-td-3">{{ team.gamesM|default(0) }}</div>
                                    <div class="chempionat-td chempionat-td-4">{{ team.pointsM|default(0) }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <a href="{{ path('frontend_event_sub_index', {type: 'dubliruiushchii-sostav-1', subtype: 'turnirnaia-tablitsa'}) }}" class="full-view">{{ 'frontend.event.full_view'|trans({}, 'menu') }}</a>
                    </div>
                </div>
            </div>
        </div>
        {# Instagram #}
        <div class="right-block">
            <div class="right-block-title">Instagram</div>
            <div class="instagram">
                {% for column in instagram %}
                    <div class="page">
                        {% for item in column %}<a href="{{ item.getLink() }}" target="_blank">
                                <img data-lazy="{{ item.getStandardImageUrl() }}" alt=""/>
                            </a>{% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right-block">
            <div class="poll">
                {{ render(url('PrismPollBundle_frontend_poll_list')) }}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    {% if videoMain %}
        <div class="main-moment" {% if videoMain.preview|length > 0 %}style="background: url({{ asset(videoMain.webPath) }}) top center no-repeat!important; background-size: cover;"{% endif %}>
            <div class="main-moment-title">{{ videoMain.title }}</div>
            {{ videoMain.html|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/frontend/js/slick.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function(){
            $("#myController").jFlow({
                controller: ".jFlowControl", // must be class, use . sign
                slideWrapper : "#jFlowSlider", // must be id, use # sign
                slides: "#mySlides",  // the div where all your sliding divs are nested in
                selectedWrapper: "jFlowSelected",  // just pure text, no sign
                width: "100%",  // this is the width for the content-slider
                height: "480px",  // this is the height for the content-slider
                duration: 400,  // time in miliseconds to transition one slide
                prev: ".jFlowPrev", // must be class, use . sign
                next: ".jFlowNext", // must be class, use . sign
                auto: true
            });
            $('.instagram').slick({
                lazyLoad: 'ondemand',
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: false
            });
        });

        onSubmit();

        clickLink();

        function onSubmit(){
            $('#polls_list form').on('submit', function(e) {

                var contentDiv = $(this).parent();

                $.ajax({
                    type: 'POST',
                    data: $(this).serialize(),
                    url: $(this).attr('action'),
                    success: function(response) {
                        ajaxSuccess(response, contentDiv);
                        onSubmit();
                        clickLink();
                    },
                    error: function(){
                        ajaxError(contentDiv);
                        onSubmit();
                        clickLink();
                    }
                });

                e.preventDefault();
            });
        }

        function clickLink(){
            $('a.see_results, a.see_form').on('click', function(e) {

                var contentDiv = $('.poll #polls_list .content');

                $.ajax({
                    type: 'GET',
                    url: $(this).attr('href'),
                    success: function(response) {
                        ajaxSuccess(response, contentDiv);
                        clickLink();
                        onSubmit();
                    },
                    error: function(){
                        ajaxError(contentDiv);
                    }
                });

                e.preventDefault();
            });
        }

        function ajaxSuccess(response, contentDiv) {
            contentDiv.html(response);
        }

        function ajaxError(contentDiv) {
            if (contentDiv.children('form').children('.ajax_error').length == 0) {
                contentDiv.children('form').prepend('<div class="ajax_error error">{{ 'frontend.poll.error'|trans({}, 'poll') }}</div>');
            }
        }
    </script>
{% endblock %}