{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.event.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form(edit_form, { 'style': 'horizontal' , attr: {novalidate: 'novalidate'} }) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_event_index') }}">
                {{ 'backend.event.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sitemain/backend/js/teamPlayer.js') }}"></script>
{% endblock %}
