{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.event.h1_list'|trans({}, 'menu') }}</h1>
    <div class="row">
        <h3>Фильтр</h3>
        <form action="" method="get">
            <div class="form-group">
                <label for="name">{{ 'backend.event.name'|trans({}, 'menu') }}</label>
                <select name="name" id="name" onchange="form.submit();">
                    <option value="any" {% if app.request.get('name') == 'any' %}selected="selected"{% endif %}>{{ 'backend.event.name_choice.any'|trans({}, 'menu') }}</option>
                    <option value="1" {% if app.request.get('name') == 1 %}selected="selected"{% endif %}>{{ 'backend.event.name_choice.championship'|trans({}, 'menu') }}</option>
                    <option value="2" {% if app.request.get('name') == 2 %}selected="selected"{% endif %}>{{ 'backend.event.name_choice.cup'|trans({}, 'menu') }}</option>
                    <option value="3" {% if app.request.get('name') == 3 %}selected="selected"{% endif %}>{{ 'backend.event.name_choice.europa_league'|trans({}, 'menu') }}</option>
                    <option value="4" {% if app.request.get('name') == 4 %}selected="selected"{% endif %}>{{ 'backend.event.name_choice.youth_championship'|trans({}, 'menu') }}</option>
                </select>
            </div>
        </form>
    </div>

    {% if entities|length > 0 %}
        <table class="records_list table table-striped table-bordered">
            <thead>
            <tr>
                <th>{{ 'backend.event.name'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.event.tour'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.event.datetime'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.event.teams'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.event.score'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.actions'|trans({}, 'menu') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_event_show', { 'id': entity.id }) }}">{{ entity.getNameText()|trans({}, 'menu') }}</a></td>
                    <td>{{ entity.tour }}</td>
                    <td>{{ entity.datetime|date('d.m.Y H:i:s') }}</td>
                    <td>{{ entity.getEventTeamString() }}</td>
                    <td>{{ entity.score }}</td>
                    <td>
                        <ul class="nav nav-pills">
                            <li>
                                <a href="{{ path('backend_event_show', { 'id': entity.id }) }}">{{ 'backend.show'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('backend_event_edit', { 'id': entity.id }) }}">{{ 'backend.edit'|trans({}, 'menu') }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(entities) }}
    {% else %}
        <div class="alert alert-warning">
            {{ 'backend.event.empty_list'|trans({}, 'menu') }}
        </div>
    {% endif %}

    <ul class="nav nav-pills">
        <li class="active">
            <a href="{{ path('backend_event_new') }}">
                {{ 'backend.create'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
