{% macro table(teams) %}
    {% if teams|length > 0 %}
        <table class="table-event">
            <thead>
            <th></th>
            <th>Игры</th>
            <th>Победы</th>
            <th>Ничьи</th>
            <th>Пораж.</th>
            <th>Мячи</th>
            <th>Очки</th>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td class="first">
                        {% if team.name == 'Россиянка' %}<a
                                href="{{ path('frontend_page_child', {parent: 'komanda', slug: 'osnovnoi-sostav'}) }}">{% endif %}
                            <img src="{{ image(team.webPath).resize(50, 50) }}"
                                 alt=""/> {{ team.name }}{% if team.slug == 'Россиянка' %}</a>{% endif %}
                    </td>
                    <td>
                        {{ team.games }}
                    </td>
                    <td>
                        {{ team.wins }}
                    </td>
                    <td>
                        {{ team.standoff }}
                    </td>
                    <td>
                        {{ team.defeat }}
                    </td>
                    <td>
                        {{ team.balls }}
                    </td>
                    <td>
                        {{ team.points }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro calendarEvent(events) %}
    {% if events|length > 0 %}
        <table class="table-event">
            <thead>
            <th>Тур</th>
            <th>Дата, время</th>
            <th></th>
            <th></th>
            <th>Стадион</th>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        {{ event.tour }}
                    </td>
                    <td>
                        {{ event.datetime|date('d.m.Y H:i') }}
                    </td>
                    <td>
                        {% for eventTeam in event.eventTeam %}
                            {{ eventTeam.team.name }}{% if loop.last == false %}<span> - </span>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if event.score %}
                            <a href="{{ path('frontend_event_game_index', {type: event.slug, id: event.id}) }}">{{ event.score }}</a>
                        {% else %}
                            -:-
                        {% endif %}
                    </td>
                    <td>
                        {{ event.stadium }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro result(resultEvents) %}

    {% if resultEvents|length > 0 %}
        <table class="table-event table-event-result">
            {% for row in resultEvents %}
                {% set insideLoop = loop %}
                {% if insideLoop.first %}
                    <tr>
                        <td></td>
                        {% for column in row %}
                            <td><img src="{{ image(column['img2']).resize(50, 50).jpeg(100) }}"
                                     alt="{{ column['nameTeamRow'] }}"/></td>
                        {% endfor %}
                    </tr>
                {% endif %}
                <tr>
                    {% for column in row %}
                        {# Если это первый столбец #}
                        {% if loop.first %}
                            <td><img src="{{ image(column['img1']).resize(50, 50).jpeg(100) }}"
                                     alt="{{ column['nameTeamRow'] }}"/></td>
                            {# Если это не первый столбец #}
                        {% endif %}
                        <td>
                            {% for key, score in column['score'] %}
                                {% if key != 'eventId' %}
                                    <a href="{{ path('frontend_event_game_index', {type: column['score']['eventSlug'], id: column['score']['eventId']}) }}">{{ score }}</a>{% if loop.last == false %}<br/>{% endif %}
                                {% endif %}
                            {% else %}
                                {% if column['score'] == 0 %}
                                    -:-
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endmacro %}

{% macro calendarCircle(calendar) %}
    {% if calendar|length > 0 %}
        <div class="right-block-title">календарь предстоящих событий</div>
        <div id="daily-events-calendar">
            {% for c in calendar %}
                <div class="day{{ loop.index }}{% if c['events'] is defined %}{% if c['events']|length > 0 %} active{% endif %}{% endif %}">
                    <a href="{{ path('frontend_announcement_index', {date: c['date']|date('d-m-Y')}) }}">{{ c['date']|date('j') }}</a>
                    {% if c['events'] is defined %}
                        {% if c['events']|length > 0 %}
                            <div class="list-events">
                                <ul>
                                    {% for event in c['events'] %}
                                        {# Если это матч #}
                                        {% if event.datetime is defined %}
                                            <li>
                                                <a href="{{ path('frontend_event_game_index', {type: event.slug, id: event.id}) }}">
                                                    <span class="name">{{ event.getNameText()|trans({}, 'menu') }}</span>
                                                    <span class="datetime">{{ event.datetime|date('H:i') }}</span>
                                                    <span class="command">{{ event.getEventTeamString() }}</span>
                                                </a>
                                            </li>
                                            {# Если это анонс #}
                                        {% else %}
                                            <li>
                                                <a href="{{ path('frontend_announcement_one', {date: event.date|date('d-m-Y'), slug: event.slug}) }}">
                                                    <img src="{{ image(event.webPath).zoomCrop(50, 50).jpeg(100) }}"
                                                         alt="" width="50px" height="50px"/>
                                                    <span class="name">{{ event.title }}</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro cuboc(events) %}
    <div class="finals">
        {# Матчи в виде графика #}
        {% for key,final in events|reverse %}{% if key != 0 %}<div class="final final-{{ key }}">
                    <div class="name">
                        {{ final['name']|trans({}, 'menu') }}
                    </div>
                    <div class="wrap_rectangle">
                        {% for event in final['events'] %}
                            <div class="rectangle{% if loop.last %} last{% endif %}">
                                {% if event.eventTeam[0].team.id is defined %}
                                    <div class="team">
                                        <img src="{{ image(event.eventTeam[0].team.webPath).resize(25, 25).jpeg(100) }}" alt="{{ image(event.eventTeam[0].team.webPath).resize(25, 25).jpeg(100) }}" width="25px" height="25px" />
                                        <div class="name">
                                            {{ event.eventTeam[0].team.name }}
                                        </div>
                                        <div class="score">
                                            {{ event.score1 }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if event.eventTeam[1].team.id is defined %}
                                    <div class="team second">
                                        <img src="{{ image(event.eventTeam[1].team.webPath).resize(25, 25).jpeg(100) }}" alt="{{ image(event.eventTeam[1].team.webPath).resize(25, 25).jpeg(100) }}" width="25px" height="25px" />
                                        <div class="name second">
                                            {{ event.eventTeam[1].team.name }}
                                        </div>
                                        <div class="score second">
                                            {{ event.score2 }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>{% endif %}{% endfor %}
        <hr/>
        {# Матчи в виде таблицы #}
        <div class="final-table">
            {% for final in events|reverse %}
                <table>
                    <tr>
                        <td class="name" colspan="5">
                            {{ final['name']|trans({}, 'menu') }}
                        </td>
                    </tr>
                {% for event in final['events'] %}
                    <tr>
                        <td>{{ event.datetime|date('d.m.Y') }}</td>
                        <td>{{ event.datetime|date('H:i') }}</td>
                        <td>{{ event.getEventTeamString() }}</td>
                        <td>{{ event.score }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endmacro %}