{% macro table(teams, type) %}
    {% if teams|length > 0 %}
        <table class="table-event">
            <thead>
            <th></th>
            <th>Игры</th>
            <th>Победы</th>
            <th>Ничьи</th>
            <th>Пораж.</th>
            <th>Мячи</th>
            <th>Очки</th>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td class="first">
                        {% if team.name == 'Россиянка' %}<a
                                href="{{ path('frontend_page_child', {parent: 'komanda', slug: 'osnovnoi-sostav'}) }}">{% endif %}
                            <img src="{{ image(team.webPath).resize(50, 50) }}"
                                 alt=""/> {{ team.name }}{% if team.slug == 'Россиянка' %}</a>{% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.games }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.gamesM }}
                        {% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.wins }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.winsM }}
                        {% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.standoff }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.standoffM }}
                        {% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.defeat }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.defeatM }}
                        {% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.balls }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.ballsM }}
                        {% endif %}
                    </td>
                    <td>
                        {% if type == 'chiempionat' %}
                            {{ team.points }}
                        {% elseif type == 'molodiozhnoie-piervienstvo' %}
                            {{ team.pointsM }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro calendarEvent(events, type) %}
    {% if events|length > 0 %}
        <table class="table-event">
            <thead>
                <th>{% if type == 'kubok' %}Этап{% else %}Тур{% endif %}</th>
                <th>Дата, время</th>
                <th>Команды</th>
                <th>Счёт</th>
                <th>Стадион</th>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        {% if type == 'kubok' %}{{ event.finalText }}{% else %}{{ event.tour }}{% endif %}
                    </td>
                    <td>
                        {{ event.datetime|date('d.m.Y') }} {% if event.datetime|date('H') != '00' or event.datetime|date('i') != '00' %}в {{ event.datetime|date('H:i') }}{% endif %}
                    </td>
                    <td>
                        {% for eventTeam in event.eventTeam %}
                            {% if loop.last == false %}<img src="{{ image(eventTeam.team.webPath).resize(50, 50) }}" alt=""/>{% endif %}{{ eventTeam.team.name }}{% if loop.last == false %}<span> - </span>{% endif %}{% if loop.last == true %}<img class="right" src="{{ image(eventTeam.team.webPath).resize(50, 50) }}" alt=""/>{% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if event.score %}
                            <a href="{{ path('frontend_event_game_index', {type: event.slug, id: event.id}) }}">{{ event.score }}</a>
                        {% else %}
                            -:-
                        {% endif %}
                    </td>
                    <td>
                        {{ event.stadium }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro result(resultEvents) %}

    {% if resultEvents|length > 0 %}
        <table class="table-event table-event-result">
            {% for row in resultEvents %}
                {% set insideLoop = loop %}
                {% if insideLoop.first %}
                    <tr>
                        <td></td>
                        {% for column in row %}
                            <td><img src="{{ image(column['img2']).resize(50, 50).png(100) }}"
                                     alt="{{ column['nameTeamRow'] }}"/></td>
                        {% endfor %}
                    </tr>
                {% endif %}
                <tr>
                    {% for column in row %}
                        {# Если это первый столбец #}
                        {% if loop.first %}
                            <td><img src="{{ image(column['img1']).resize(50, 50).png(100) }}"
                                     alt="{{ column['nameTeamRow'] }}"/></td>
                            {# Если это не первый столбец #}
                        {% endif %}
                        <td>
                            {% for score in column['score'] %}
                                <a href="{{ path('frontend_event_game_index', {type: score['game'].slug, id: score['game'].id}) }}">{{ score['score'] }}</a>{% if loop.last == false %}<br/>{% endif %}
                            {% else %}
                                {% if column['score'] == 0 %}
                                    -:-
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endmacro %}

{% macro calendarCircle(calendar) %}
    {% if calendar|length > 0 %}
        <div class="right-block-title">календарь предстоящих событий</div>
        <div id="daily-events-calendar">
            {% for c in calendar %}
                <div class="day day{{ loop.index }}{% if c['events'] is defined %}{% if c['events']|length > 0 %} active{% endif %}{% endif %}">
                    {% if c['events'] is defined %}{% if c['events']|length > 0 %}<a href="{{ path('frontend_announcement_index', {date: c['date']|date('d-m-Y')}) }}">{% endif %}{% endif %}{{ c['date']|date('j') }}{% if c['events'] is defined %}{% if c['events']|length > 0 %}</a>{% endif %}{% endif %}
                    {% if c['events'] is defined %}
                        {% if c['events']|length > 0 %}
                            <div class="wrap-list-events">
                                <div class="list-events">
                                    <ul>
                                        {% for event in c['events'] %}
                                            {# Если это матч #}
                                            {% if event.datetime is defined %}
                                                <li class="no-wrap item-anons{% if loop.last %} last{% endif %}">
                                                    {#<a href="{{ path('frontend_announcement_one', {date: event.datetime|date('d-m-Y'), slug: event.slug}) }}"></a>#}
                                                    <div class="datetime">{{ event.datetime|localizeddate('long', 'none', null, null, 'd MMMM Y') }} {% if event.datetime|date('H') != '00' or event.datetime|date('i') != '00' %}в {{ event.datetime|date('H:i') }}{% endif %}</div>
                                                    <div class="name">{{ event.getEventTeamString() }}{% if event.name == 3 %} (Д){% endif %}</div>
                                                </li>
                                                {# Если это анонс #}
                                            {% else %}
                                                <li class="item-anons{% if loop.last %} last{% endif %}">
                                                    <a href="{{ path('frontend_announcement_one', {date: event.date|date('d-m-Y'), slug: event.slug}) }}"></a>
                                                        <div class="datetime">{{ event.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</div>
                                                        <div class="name">{{ event.title }}</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro cuboc(events) %}
    <div class="finals">
        {# Матчи в виде графика #}
        {% for key,final in events|reverse %}{% if key != 0 %}<div class="final final-{{ key }}">
                    <div class="name">
                        {{ final['name']|trans({}, 'menu') }}
                    </div>
                    <div class="wrap_rectangle">
                        {% for event in final['events'] %}
                            <div class="rectangle{% if loop.last %} last{% endif %}">
                                {% if event.eventTeam[0].team.id is defined %}
                                    <div class="team">
                                        <img src="{{ image(event.eventTeam[0].team.webPath).resize(25, 25).png(100) }}" alt="{{ image(event.eventTeam[0].team.webPath).resize(25, 25).png(100) }}" width="25px" height="25px" />
                                        <div class="name">
                                            {{ event.eventTeam[0].team.name }}
                                        </div>
                                        <div class="score">
                                            {{ event.score1 }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if event.eventTeam[1].team.id is defined %}
                                    <div class="team second">
                                        <img src="{{ image(event.eventTeam[1].team.webPath).resize(25, 25).png(100) }}" alt="{{ image(event.eventTeam[1].team.webPath).resize(25, 25).png(100) }}" width="25px" height="25px" />
                                        <div class="name second">
                                            {{ event.eventTeam[1].team.name }}
                                        </div>
                                        <div class="score second">
                                            {{ event.score2 }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>{% endif %}{% endfor %}
        <hr/>
        {# Матчи в виде таблицы #}
        <div class="final-table">
            {% for final in events|reverse %}
                <table>
                    <tr>
                        <td class="name" colspan="5">
                            {{ final['name']|trans({}, 'menu') }}
                        </td>
                    </tr>
                {% for event in final['events'] %}
                    <tr>
                        <td class="first">{{ event.datetime|date('d.m.Y') }}</td>
                        <td>{{ event.getEventTeamString() }}</td>
                        <td>{{ event.score }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
{% endmacro %}