{% macro table(teams) %}
    {% if teams|length > 0 %}
        <table class="table-event">
            <thead>
                <th></th>
                <th>Игры</th>
                <th>Победы</th>
                <th>Ничьи</th>
                <th>Пораж.</th>
                <th>Мячи</th>
                <th>Очки</th>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="first">
                            {% if team.name == 'Россиянка' %}<a href="{{ path('frontend_page_child', {parent: 'komanda', slug: 'osnovnoi-sostav'}) }}">{% endif %}<img src="{{ image(team.webPath).resize(50) }}" alt=""/> {{ team.name }}{% if team.slug == 'Россиянка' %}</a>{% endif %}
                        </td>
                        <td>
                            {{ team.games }}
                        </td>
                        <td>
                            {{ team.wins }}
                        </td>
                        <td>
                            {{ team.standoff }}
                        </td>
                        <td>
                            {{ team.defeat }}
                        </td>
                        <td>
                            {{ team.balls }}
                        </td>
                        <td>
                            {{ team.points }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}