{% macro listTab(news) %}
    {% for n in news %}
        {% set link = path('frontend_news_one', {type: n.getTypeUrl(), slug: n.slug}) %}
        <div class="tab-articl">
            <a href="{{ link }}" class="tab-articl-img">
                <img src="{{ image(n.webPath).zoomCrop(230, 155) }}" alt="{{ n.title }}" width="230px" height="155px">
            </a>
            <div class="tab-articl-description">
                <a href="{{ link }}" class="tab-articl-text">{{ n.title }}</a>
                <a href="{{ link }}" class="tab-articl-title">{{ n.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}</a>
                <a href="{{ link }}" class="tab-articl-text tab-articl-preview">{{ n.description }}</a>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro listLast(news) %}
    <div class="content-slide">
        {% for n in news %}
            {% if loop.first %}
                <div class="content-slide-block first">
                    <a href="{{ path('frontend_news_one', {type: n.getTypeUrl(), slug: n.slug}) }}">
                        <img src="{{ image(n.webPath).zoomCrop(715, 480) }}" alt="{{ n.title }}">
                    </a>
                    <div class="content-slide-block-title">
                        <div class="inner">
                            <a href="{{ path('frontend_news_one', {type: n.getTypeUrl(), slug: n.slug}) }}">
                                {{ n.title }}<br>
                                {{ n.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="content-slide-block second {% if loop.first %}current{% endif %}">
                <img class="little" src="{{ image(n.webPath).zoomCrop(231, 155) }}" alt="{{ n.title }}">
                <img class="big hide" src="{{ image(n.webPath).zoomCrop(715, 480) }}" alt="{{ n.title }}">
                <div class="content-slide-block-title">
                    <div class="inner">
                        <a href="{{ path('frontend_news_one', {type: n.getTypeUrl(), slug: n.slug}) }}">
                            {{ n.title }}<br>
                            {{ n.date|localizeddate('long', 'none', null, null, 'd MMMM Y') }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}