{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sitemain/frontend/css/style.css') }}">
    <link href="{{ asset('bundles/sitemain/frontend/css/jflow.style.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="wrap">
        {{ render(url('frontend_baner_index')) }}
        <div class="header">
            <div class="header-block">
                <div class="logo">
                    <a href="{{ path('frontend_homepage') }}">
                        <img src="{{ asset('bundles/sitemain/frontend/images/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="main-menu">
                    {{ knp_menu_render('SiteMainBundle:FrontendMenuBuilder:mainMenu') }}
                </div>
                <div class="header-right-block">
                    <div class="search">
                        <form action="{{ path('frontend_search_index') }}" method="get">
                            <input type="text" name="text" placeholder="поиск по сайту">
                        </form>
                    </div>
                    <div class="soc-icons">
                        <ul>
                            <li><a href="https://twitter.com/fcrossiyanka" target="_blank"><img src="{{ asset('bundles/sitemain/frontend/images/icons/twitter.png') }}" alt=""></a></li>
                            <li><a href="https://vk.com/fcrossiyanka" target="_blank"><img src="{{ asset('bundles/sitemain/frontend/images/icons/vk.png') }}" alt=""></a></li>
                            <li><a href="https://facebook.com/fcrossiyanka" target="_blank"><img src="{{ asset('bundles/sitemain/frontend/images/icons/facebook.png') }}" alt=""></a></li>
                            <li><a href="https://instagram.com/fcrossiyanka" target="_blank"><img src="{{ asset('bundles/sitemain/frontend/images/icons/inst.png') }}" alt=""></a></li>
                            {#<li><a href=""><img src="{{ asset('bundles/sitemain/frontend/images/icons/od.png') }}" alt=""></a></li>#}
                        </ul>
                    </div>
                </div>
                {% if app.request.get('_route') != 'frontend_homepage' %}
                    <div class="border{% if app.request.get('_route') == 'frontend_page_child' or app.request.get('_route') == 'frontend_news_index' or app.request.get('_route') == 'frontend_event_sub_index' or app.request.get('_route') == 'frontend_event_index' %} submenu{% elseif page is defined %}{% if page.children|length > 0 %} submenu{% endif %}{% endif %}"></div>
                {% endif %}
            </div>
            {#{% if children is defined %}#}
                {#{% if children|length > 0 %}#}
                    {#<div class="bottom-header">#}
                        {#<div class="bottom-header-block">#}
                            {#{% set subMenu = knp_menu_get('SiteMainBundle:FrontendMenuBuilder:subMenu', [], {'children': children} ) %}#}
                            {#{{ knp_menu_render(subMenu) }}#}
                        {#</div>#}
                    {#</div>#}
                {#{% endif %}#}
            {#{% endif %}#}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <div class="wrap_footer">
        {{ render(url('frontend_partners_index')) }}
        <div class="footer">
            <div class="footer-block-left">
                <p>2001—2014 © Professional Football Club CSKA Moscow.</p>
                <p>Official Member of the European Club Association (ECA)</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sitemain/frontend/js/jquery-1.10.2.min.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="{{ asset('bundles/sitemain/frontend/js/jquery.placeholder.js') }}"></script>
    <script src="{{ asset('bundles/sitemain/frontend/js/placeholder.js') }}"></script>
    <script src="{{ asset('bundles/sitemain/frontend/js/jflow.plus.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sitemain/frontend/js/script.js') }}" type="text/javascript"></script>
    <script>
        $(function() {
            $( "#tabs,#tabs2,#tabs3" ).tabs();
        });
        function openbox(id){
            $('#' + id).hide();
        }
    </script>
{% endblock %}